@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/CenturyGothic/") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans500";
  src: url("../fonts/MuseoSans/../fonts/MuseoSans/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans300";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans700";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans100";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  color: #330f06;
}

a {
  color: #330f06;
}

.block-1 {
  background: url(../img/block1/block-1-bg.png) repeat-x;
  background-size: 100%;
}
.block-1__content {
  padding-bottom: calc(129.375px + 77.625 * (100vw - 1200px) / 720);
}

.header {
  font-size: calc(16.875px + 10.125 * (100vw - 1200px) / 720);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__menu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.header__socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-name__items {
  padding-top: calc(9.375px + 5.625 * (100vw - 1200px) / 720);
  padding-left: calc(113.125px + 67.875 * (100vw - 1200px) / 720);
}
.header-name__items a:hover {
  color: #9e0e0c;
}
.header-name__name {
  font-size: 1em;
  font-family: "MuseoSans700";
  display: inline-block;
}
.header-name__prof {
  display: inline-block;
  font-size: calc(12.5px + 7.5 * (100vw - 1200px) / 720);
  font-family: "MuseoSans100";
}

.header-menu {
  font-size: calc(11.25px + 6.75 * (100vw - 1200px) / 720);
  font-family: "Montserrat";
}
.header-menu__body {
  padding-top: calc(16.875px + 10.125 * (100vw - 1200px) / 720);
  padding-left: calc(125px + 75 * (100vw - 1200px) / 720);
}
.header-menu__item {
  display: inline-block;
  margin-right: calc(32.5px + 19.5 * (100vw - 1200px) / 720);
  margin-bottom: calc(9.375px + 5.625 * (100vw - 1200px) / 720);
}
.header-menu__item a:hover {
  color: #9e0e0c;
}

.header-socials {
  padding-top: calc(13.125px + 7.875 * (100vw - 1200px) / 720);
  text-align: right;
}
.header-socials__phone {
  padding-right: calc(7.5px + 4.5 * (100vw - 1200px) / 720);
}
.header-socials__phone a:hover {
  color: #9e0e0c;
}

.socials-phone__phone {
  font-size: calc(15px + 9 * (100vw - 1200px) / 720);
  font-family: "MuseoSans700";
  margin-bottom: calc(5.625px + 3.375 * (100vw - 1200px) / 720);
}
.socials-phone__button {
  font-family: "MuseoSans300";
  font-size: calc(8.75px + 5.25 * (100vw - 1200px) / 720);
  text-decoration: underline;
}
.socials-phone__button a:hover {
  text-decoration: underline;
}

.block-1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(29.375px + 17.625 * (100vw - 1200px) / 720);
}
.block-1-content__content-text {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-left: calc(123.125px + 73.875 * (100vw - 1200px) / 720);
}
.block-1-content__socials {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: right;
  padding-right: calc(88.125px + 52.875 * (100vw - 1200px) / 720);
  padding-top: calc(18.125px + 10.875 * (100vw - 1200px) / 720);
}
.block-1-content__invite {
  font-size: calc(29.375px + 17.625 * (100vw - 1200px) / 720);
  font-family: "MuseoSans500";
  padding-top: calc(48.75px + 29.25 * (100vw - 1200px) / 720);
}
.block-1-content__title {
  font-family: "MuseoSans700";
  font-size: calc(32.5px + 19.5 * (100vw - 1200px) / 720);
  padding-top: calc(12.5px + 7.5 * (100vw - 1200px) / 720);
}
.block-1-content__online {
  font-family: "MuseoSans500";
  font-size: calc(17.5px + 10.5 * (100vw - 1200px) / 720);
  color: #9e0e0c;
  padding-top: calc(20px + 12 * (100vw - 1200px) / 720);
}
.block-1-content__text {
  padding-top: calc(41.25px + 24.75 * (100vw - 1200px) / 720);
  font-family: "MuseoSans100";
  font-size: calc(15.625px + 9.375 * (100vw - 1200px) / 720);
}
.block-1-content__text p {
  margin-bottom: calc(18.75px + 11.25 * (100vw - 1200px) / 720);
}
.block-1-content__button {
  font-family: "CenturyGothic";
  font-size: calc(15.625px + 9.375 * (100vw - 1200px) / 720);
  padding-top: calc(73.125px + 43.875 * (100vw - 1200px) / 720);
}
.block-1-content__button a {
  color: #fff;
  background: rgb(154, 7, 2);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(159, 5, 0)), to(rgb(255, 38, 0)));
  background: linear-gradient(0deg, rgb(159, 5, 0) 0%, rgb(255, 38, 0) 100%);
  padding-top: calc(25px + 15 * (100vw - 1200px) / 720);
  padding-bottom: calc(25px + 15 * (100vw - 1200px) / 720);
  padding-left: calc(68.75px + 41.25 * (100vw - 1200px) / 720);
  padding-right: calc(68.75px + 41.25 * (100vw - 1200px) / 720);
  border-radius: calc(37.5px + 22.5 * (100vw - 1200px) / 720);
  -webkit-box-shadow: 0 20px 20px rgba(203, 63, 48, 0.3137254902);
          box-shadow: 0 20px 20px rgba(203, 63, 48, 0.3137254902);
  border: calc(1.875px + 1.125 * (100vw - 1200px) / 720) solid #fa7661;
}
.block-1-content__button a:hover {
  background: rgb(198, 37, 31);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(160, 35, 31)), to(rgb(254, 83, 53)));
  background: linear-gradient(0deg, rgb(160, 35, 31) 0%, rgb(254, 83, 53) 100%);
}
.block-1-content__button a:active {
  background: rgb(167, 8, 3);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(156, 6, 0)), color-stop(0%, rgrgb(156, 23, 0)));
  background: linear-gradient(0deg, rgb(156, 6, 0) 0%, rgrgb(156, 23, 0) 0%);
  -webkit-box-shadow: 0 20px 30px rgba(255, 41, 17, 0.7215686275);
          box-shadow: 0 20px 30px rgba(255, 41, 17, 0.7215686275);
}

.socials-socials__item {
  margin-bottom: calc(11.875px + 7.125 * (100vw - 1200px) / 720);
  line-height: 0;
  font-size: 0;
}
.socials-socials__item:active {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.socials-socials__item img {
  width: calc(12.5px + 7.5 * (100vw - 1200px) / 720);
}
.socials-socials__item img:hover {
  -webkit-filter: saturate(5);
          filter: saturate(5);
}

.block-2__wrapper {
  width: 1531px;
  margin: 0 auto;
}
.block-2__title {
  font-family: "MuseoSans500";
  font-size: 47px;
  text-align: center;
  margin-bottom: 49px;
}
.block-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-2-content {
  font-family: "MuseoSans100";
}
.block-2-content__left {
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20;
}
.block-2-content__middle {
  -webkit-box-flex: 19;
      -ms-flex: 19;
          flex: 19;
}
.block-2-content__right {
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20;
}
.block-2-content__title {
  font-size: 30px;
  font-family: "MuseoSans500";
  color: #9e0e0c;
  margin-bottom: 20px;
}
.block-2-content__text {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
}
.block-2-content__item {
  border: 1px solid #fae5d3;
  padding: 70px 70px 55px 66px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 121px;
  position: relative;
}
.block-2-content__item::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -2;
  width: 90%;
  height: 90%;
  background-color: #fdefe4;
}
.block-2-content__item_left-top::before {
  left: 0;
  top: 0;
}
.block-2-content__item_right-top::before {
  right: 0;
  top: 0;
}
.block-2-content__item_left-bottom::before {
  left: 0;
  bottom: 0;
}
.block-2-content__item_right-bottom::before {
  right: 0;
  bottom: 0;
}
.block-2-content__item::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #f4c39a;
}
.block-2-content__item_left-top::after {
  left: 10px;
  top: 10px;
}
.block-2-content__item_right-top::after {
  right: 10px;
  top: 10px;
}
.block-2-content__item_left-bottom::after {
  left: 10px;
  bottom: 10px;
}
.block-2-content__item_right-bottom::after {
  right: 10px;
  bottom: 10px;
}

.content-left__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-left__item:first-child {
  margin-left: 83px;
}
.content-left__item:nth-child(2) {
  margin-right: 83px;
  margin-bottom: 0;
}

.content-middle {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-middle__top-text {
  padding-bottom: 30px;
  padding-left: 222px;
}
.content-middle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-middle__wrapper:hover .content-middle__button {
  -webkit-box-shadow: inset 0 0 5px rgb(214, 79, 61), 0 0 60px rgb(226, 99, 83);
          box-shadow: inset 0 0 5px rgb(214, 79, 61), 0 0 60px rgb(226, 99, 83);
  background: rgb(146, 66, 56);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(146, 66, 56)), to(rgb(255, 99, 85)));
  background: linear-gradient(0deg, rgb(146, 66, 56) 0%, rgb(255, 99, 85) 100%);
}
.content-middle__button {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 109px;
  height: 109px;
  -webkit-box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 40px rgb(249, 45, 18);
          box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 40px rgb(249, 45, 18);
  background: rgb(216, 48, 27);
  background: radial-gradient(circle, rgb(230, 66, 45) 0%, rgb(193, 58, 46) 100%);
}
.content-middle__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 14px; /* Размеры треугольника */
  border-color: transparent transparent transparent white; /* Цвет треугольника */
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg); /* Чтобы сместить треугольник в центр кнопки */
}
.content-middle__button:active {
  -webkit-box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 60px rgb(249, 45, 18);
          box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 60px rgb(249, 45, 18);
  background: rgb(216, 48, 27);
  background: radial-gradient(circle, rgb(242, 59, 35) 0%, rgb(171, 42, 30) 100%);
}
.content-middle__bottom-text {
  padding-top: 50px;
  padding-right: 180px;
}

.content-right__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-right__item:first-child {
  margin-left: 83px;
  margin-top: 7px;
}
.content-right__item:nth-child(2) {
  margin-right: 83px;
  margin-top: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .header {
    font-size: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
  }
  .header-name__items {
    padding-top: calc(9.375px + 5.625 * (100vw - 320px) / 1600);
    padding-left: calc(62.5px + 37.5 * (100vw - 320px) / 1600);
  }
  .header-name__prof {
    font-size: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
  }
  .header-menu {
    font-size: calc(11.25px + 6.75 * (100vw - 320px) / 1600);
  }
  .header-menu__body {
    padding-top: calc(16.875px + 10.125 * (100vw - 320px) / 1600);
  }
  .header-menu__item {
    margin-right: calc(32.5px + 19.5 * (100vw - 320px) / 1600);
  }
  .header-socials {
    padding-top: calc(13.125px + 7.875 * (100vw - 1200px) / 720);
  }
  .header-socials__phone {
    padding-right: calc(7.5px + 4.5 * (100vw - 320px) / 1600);
    margin-bottom: calc(18.125px + 10.875 * (100vw - 320px) / 1600);
  }
  .socials-phone__phone {
    font-size: calc(15px + 9 * (100vw - 320px) / 1600);
  }
  .socials-phone__button {
    font-size: calc(8.75px + 5.25 * (100vw - 320px) / 1600);
  }
  .block-1-content {
    font-size: calc(29.375px + 17.625 * (100vw - 320px) / 1600);
  }
  .block-1-content__invite {
    font-size: calc(15.625px + 9.375 * (100vw - 320px) / 1600);
    padding-top: calc(31.25px + 18.75 * (100vw - 320px) / 1600);
  }
  .block-1-content__title {
    font-size: calc(18.75px + 11.25 * (100vw - 320px) / 1600);
    padding-top: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
  }
  .block-1-content__online {
    font-size: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
    padding-top: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
  }
  .block-1-content__text {
    padding-top: calc(25px + 15 * (100vw - 320px) / 1600);
    font-size: calc(11.25px + 6.75 * (100vw - 320px) / 1600);
  }
  .block-1-content__text p {
    margin-bottom: calc(9.375px + 5.625 * (100vw - 1200px) / 720);
  }
  .block-1-content__button {
    font-size: calc(11.25px + 6.75 * (100vw - 320px) / 1600);
    padding-top: calc(50px + 30 * (100vw - 320px) / 1600);
  }
  .block-1-content__button a {
    border-radius: calc(37.5px + 22.5 * (100vw - 320px) / 1600);
  }
  .socials-socials__item {
    margin-bottom: calc(11.875px + 7.125 * (100vw - 320px) / 1600);
    line-height: 0;
  }
  .socials-socials__item img {
    width: calc(12.5px + 7.5 * (100vw - 320px) / 1600);
  }
}
@media screen and (max-width: 761px) {
  .block-1 {
    background-size: auto 100%;
  }
  .header-name__items {
    padding-top: calc(9.375px + 5.625 * (100vw - 320px) / 1600);
    padding-left: calc(50px + 30 * (100vw - 320px) / 1600);
  }
}
@media screen and (max-width: 389px) {
  .block-1 {
    background-position: 50%;
  }
  .header-name__items {
    padding-top: calc(9.375px + 5.625 * (100vw - 320px) / 1600);
    padding-left: calc(6.25px + 3.75 * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1921px) {
  .block-1 {
    background: url(../img/block1/clowds-bottom-2.png) 0 bottom/50vw repeat-x, url(../img/block1/woman.png) 95% 0/auto 100% no-repeat, url(../img/block1/clowds-right.png) 100% 0/auto 100% no-repeat, url(../img/block1/clowds-left.png) 0 0/auto 100% no-repeat, url(../img/block1/Tower-Bridge.png) 103% 0/auto 100% no-repeat, url(../img/block1/big-ben.png) 100% 0/auto 100% no-repeat, url(../img/block1/global-bg.png) 0 0/100vw repeat-x;
  }
  .block-1__wrapper {
    width: 1920px;
    height: 884px;
    margin: 0 auto;
  }
  .block-1__content {
    padding-bottom: 207px;
  }
  .header-name__items {
    padding-top: 15px;
    padding-left: 181px;
  }
  .header-name__name {
    font-size: 27px;
  }
  .header-name__prof {
    font-size: 20px;
  }
  .header-menu {
    font-size: 18px;
  }
  .header-menu__body {
    padding-top: 27px;
    padding-left: 200px;
  }
  .header-menu__item {
    margin-right: 52px;
    margin-bottom: 15px;
  }
  .header-socials {
    padding-top: 21px;
  }
  .header-socials__phone {
    padding-right: 12px;
  }
  .socials-phone__phone {
    font-size: 24px;
    margin-bottom: 9px;
  }
  .socials-phone__button {
    font-size: 14px;
  }
  .block-1-content {
    font-size: 47px;
  }
  .block-1-content__content-text {
    padding-left: 197px;
  }
  .block-1-content__socials {
    padding-right: 141px;
    padding-top: 29px;
  }
  .block-1-content__invite {
    font-size: 47px;
    padding-top: 78px;
  }
  .block-1-content__title {
    font-size: 52px;
    padding-top: 20px;
  }
  .block-1-content__online {
    font-size: 28px;
    padding-top: 32px;
  }
  .block-1-content__text {
    padding-top: 66px;
    font-size: 25px;
  }
  .block-1-content__text p {
    margin-bottom: 30px;
  }
  .block-1-content__button {
    font-size: 25px;
    padding-top: 117px;
  }
  .block-1-content__button a {
    padding: 40px 110px;
    border-radius: 60px;
    border: 3px solid #fa7661;
  }
  .socials-socials__item {
    margin-bottom: 19px;
  }
  .socials-socials__item img {
    width: 20px;
  }
}/*# sourceMappingURL=style.css.map */