// path to settings.json
// C:\Users\acer\AppData\Roaming\Code\User
// ширина моего окна - 1229 x 590

@import "_nullstyle";

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2'),
      url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
      url('../fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype'),
      url('../fonts/CenturyGothic/') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.eot');
  src: url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
      url('../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans500';
  src: url('../fonts/MuseoSans/../fonts/MuseoSans/MuseoSansCyrl-500.woff2') format('woff2'),
      url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans300';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300.woff2') format('woff2'),
      url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans700';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.woff2') format('woff2'),
      url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans100';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-100.woff2') format('woff2'),
      url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



@function res($pix) {
  @return 0.625 * $pix; // 1200 / 1920
}

@function adap($pix, $width: 1200) {
  @return calc(res($pix) * 1px + ($pix - res($pix)) * (100vw - $width * 1px) / (1920 - $width));
}

@function qadap($pix) {
  @return $pix * 1px;
}

body {
  color: #330f06;
}

a {
  color: #330f06;
}
.wrapper {
}

.title {
  font-family: "MuseoSans500";
  font-size: adap(47);
  text-align: center;
  margin-bottom: adap(49);
}

.content-title {
  text-align: center;
  font-size: adap(30);
  font-family: "MuseoSans500";
  color: #9e0e0c;
  margin-bottom: adap(30);
}

.content-text {
  text-align: center;
  font-family: "MuseoSans100";
  font-size: adap(20);
  display: inline-block;
  line-height: adap(30);
}






















// block-1
// ============================================================= //
.block-1 {
  background: url(../img/block1/block-1-bg.png) repeat-x;
  background-size: 100%;

		&__header {
		}

    &__content {
      padding-bottom: adap(207);
    }
}


.header {
  font-size: adap(27);

		&__body {
      display: flex;
		}

		&__name {
      flex: 1;
		}

		&__menu {
      flex: 2;
		}

		&__socials {
      flex: 1;
		}
}
.header-name {

		&__items {
      padding-top: adap(15);
      padding-left: adap(181);
      & a:hover {
        color: #9e0e0c;
      }
		}

		&__name {
      font-size: 1em;
      font-family: "MuseoSans700";
      display: inline-block;
		}

		&__prof {
      display: inline-block;
      font-size: adap(20);
      font-family: "MuseoSans100";
		}
}

.header-menu {
  font-size: adap(18);
  font-family: 'Montserrat';

		&__body {
      padding-top: adap(27);
      padding-left: adap(200);
		}

		&__item {
      display: inline-block;
      margin-right: adap(52);
      margin-bottom: adap(15);
      & a:hover {
        color: #9e0e0c;
      }
		}
}
.header-socials {
  padding-top: adap(21);
  text-align: right;


		&__phone {
      padding-right: adap(12);
      & a:hover {
        color: #9e0e0c;
      }
		}
}
.socials-phone {

		&__phone {
      font-size: adap(24);
      font-family: "MuseoSans700";
      margin-bottom: adap(9);
      &_761 {
        display: none;
      }
		}

		&__button {
      font-family: "MuseoSans300";
      font-size: adap(14);
      text-decoration: underline;
      & a:hover {
        text-decoration: underline;
      }
		}
}

.block-1-content {
  display: flex;
  font-size: adap(47);

  &__content-text {
    flex: auto;
    padding-left: adap(197);
  }

  &__socials {
    flex: auto;
    text-align: right;
    padding-right: adap(141);
    padding-top: adap(29);
  }
  
  &__invite {
    font-size: adap(47);
    font-family: "MuseoSans500";
    padding-top: adap(78);
  }

  &__title {
    font-family: "MuseoSans700";
    font-size: adap(52);
    padding-top: adap(20);
  }

  &__online {
    font-family: "MuseoSans500";
    font-size: adap(28);
    color: #9e0e0c;
    padding-top: adap(32);
  }

  &__text {
    padding-top: adap(66);
    font-family: "MuseoSans100";
    font-size: adap(25);
    & p {
      margin-bottom: adap(30);
    }
  }

  &__button {
    font-family: "CenturyGothic";
    font-size: adap(25);
    padding-top: adap(117);
    & a {
      color: #fff;
      background: rgb(154, 7, 2);
      background: linear-gradient(0deg, rgb(159, 5, 0) 0%, rgb(255, 38, 0) 100%);
      padding-top: adap(40);
      padding-bottom: adap(40);
      padding-left: adap(110);
      padding-right: adap(110);
      border-radius: adap(60);
      box-shadow: 0 20px 20px #cb3f3050, inset 0 0 4px 4px #dc3434;


      &:hover {
        background: rgb(198, 37, 31);
        background: linear-gradient(0deg, rgb(160, 35, 31) 0%, rgb(254, 83, 53) 100%);
      }

      &:active {
        background: rgb(167, 8, 3);
        background: linear-gradient(0deg, rgb(156, 6, 0) 0%, rgrgb(156, 23, 0)00%);
        box-shadow: 0 20px 30px #ff2911b8;
      }

    }
  }
}

.socials-socials {

		&__item {
      margin-bottom: adap(19);
      line-height: 0;
      font-size: 0;
      & img {
        width: adap(20);
        &:hover {
          filter: saturate(5);
        }
      }
		}
    
    &__item:nth-child(2) {
      & img {
        width: adap(23);
      }
    }
}























// block-2
// ================================================================= //


.block-2 {
  margin-bottom: qadap(127);

  &__wrapper {
    width: qadap(1531);
    margin: 0 auto;
  }

  &__title {
    font-family: "MuseoSans500";
    font-size: qadap(47);
    text-align: center;
    margin-bottom: qadap(49);
  }

  &__content {
    display: flex;
  }
}
.block-2-content {
  font-family: "MuseoSans100";

  &__left {
    flex: 20;
  }

  &__middle {
    flex: 19;
  }

  &__right {
    flex: 20;
  }

  &__title {
    font-size: qadap(30);
    font-family: "MuseoSans500";
    color: #9e0e0c;
    margin-bottom: qadap(20);
  }

  &__text {
    font-size: qadap(20);
    line-height: qadap(30);
    display: inline-block;
  }

  &__item {
    border: qadap(1) solid #fae5d3;
    padding: qadap(70) qadap(70) qadap(55) qadap(66);
    text-align: center;
    border-radius: qadap(10);
    margin-bottom: qadap(121);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border-radius: qadap(10);
      z-index: -2;
      width: 90%; 
      height: 90%; 
      background-color: #fdefe4;
    }

    &_left-top::before {
      left: 0;
      top: 0;
    }

    &_right-top::before {
      right: 0;
      top: 0;
    }

    &_left-bottom::before {
      left: 0;
      bottom: 0;
    }

    &_right-bottom::before {
      right: 0;
      bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      border-radius: qadap(10);
      z-index: -1;
      width: 100%;
      height: 100%;
      border: qadap(1) solid #f4c39a;
    }

    &_left-top::after {
      left: qadap(10);
      top: qadap(10);
    }

    &_right-top::after {
      right: qadap(10);
      top: qadap(10);
    }

    &_left-bottom::after {
      left: qadap(10);
      bottom: qadap(10);
    }

    &_right-bottom::after {
      right: qadap(10);
      bottom: qadap(10);
    }
  }
}
.content-left {

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    &:first-child {
      margin-left: qadap(83);
    }
    &:nth-child(2) {
      margin-right: qadap(83);
      margin-bottom: 0;
    }
  }
}
.content-middle {
  font-size: qadap(12);
  display: flex;
  justify-content: center;
  align-items: center;

  &__top-text {
    padding-bottom: qadap(30);
    padding-left: qadap(222);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      .content-middle__button {
      box-shadow: inset 0 0 5px rgb(214, 79, 61), 0 0 60px rgb(226, 99, 83);
      background: rgb(146,66,56);
      background: linear-gradient(0deg, rgba(146,66,56,1) 0%, rgba(255,99,85,1) 100%); 
      }
    }
    
    &:active {
      .content-middle__button {
        box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 60px rgb(249, 45, 18);
        background: rgb(216,48,27);
        background: radial-gradient(circle, rgb(242, 59, 35) 0%, rgb(171, 42, 30) 100%); 
      } 
    }
  }

  &__button {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: qadap(109);
    height: qadap(109);
    box-shadow: inset 0 0 5px rgb(249, 45, 18), 0 0 40px rgb(249, 45, 18);
    background: rgb(216,48,27);
    background: radial-gradient(circle, rgb(230, 66, 45) 0%, rgb(193, 58, 46) 100%); 
  }

  &__button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: qadap(10) 0 qadap(10) qadap(14); /* Размеры треугольника */
    border-color: transparent transparent transparent white; /* Цвет треугольника */
    transform: translate(-50%, -50%) rotate(0deg); /* Чтобы сместить треугольник в центр кнопки */
  }

  &__bottom-text {
    padding-top: qadap(50);
    padding-right: qadap(180);
  }
}
.content-right {

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    &:first-child {
      margin-left: qadap(83);
      margin-top: qadap(7);
    }
    &:nth-child(2) {
      margin-right: qadap(83);
      margin-top: qadap(20);
      margin-bottom: 0;
    }
  }
}




















// ============================================================= //
// block-3

.block-3 {
  padding-top: adap(251);
  padding-bottom: adap(180);
  margin-bottom: adap(78);
  background: 
    url(../img/block3/clowds-top.png) 0 -10% / 100% repeat-x,
    url(../img/block3/clowds-bottom.png) 0 100% / 100% repeat-x,
    url(../img/block3/woman.png) 10% 82% / auto 70%  no-repeat,
    url(../img/block3/left-shade.png) 0 0 / 100% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 0 / 200% no-repeat,
    url(../img/block3/clowds-left-2.png) 0 0 / 100% no-repeat,
    url(../img/block3/clowds-left-1.png) 0 0 / 100% no-repeat,
    url(../img/block3/right-shade.png) 100% 0 / 100% no-repeat,
    url(../img/block3/clowds-right-2.png) 100% 0 / 100% no-repeat,
    url(../img/block3/clowds-right-1.png) 100% 0 / 100% no-repeat,
    url(../img/block3/global-bg.png) 0 0 / 100vw repeat,
  ;

  &__body {
    padding: 0 adap(196) 0 adap(624);
    font-family: "MuseoSans100";
  }

  &__title {
    position: relative;
    font-family: "MuseoSans500";
    font-size: adap(43);
    margin-bottom: adap(39);
    padding: adap(26) adap(52);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url(../img/icons/right-quotation-sign.png) 0 0 / 100% no-repeat;
      width: adap(37);
      height: adap(30);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: adap(8);
      right: adap(475);
      background: url(../img/icons/left-quotation-sign.png) 0 0 / 100% no-repeat;
      width: adap(37);
      height: adap(30);
    }
  }

  &__name {
    margin-bottom: adap(69);
    text-align: right;
  }

  &__list {
    padding-left: adap(57);
    font-size: adap(30);
    margin-bottom: adap(93);
  }

  &__button {
    text-align: right;
    & a {
      color: #fffefe;
      font-size: adap(25);
      font-family: "CenturyGothic";
      padding: adap(39) adap(40);
      border-radius: adap(60);
      background: rgb(152,15,11);
      background: linear-gradient(0deg, rgba(152,15,11,1) 0%, rgba(245,72,42,1) 100%);
      box-shadow: inset 0 0 adap(10) rgb(242, 76, 70), 0 adap(20) adap(60) rgb(209, 46, 41);
    }

    & a:hover {
      background: rgb(160, 49, 46);
      background: linear-gradient(0deg, rgb(150, 40, 36) 0%, rgb(240, 100, 75) 100%);
      box-shadow: inset 0 0 adap(10) rgb(242, 76, 70), 0 adap(20) adap(80) rgb(241, 81, 75);
    }

    & a:active {
      background: rgb(152,15,11);
      background: linear-gradient(0deg, rgb(141, 18, 14) 0%, rrgb(251, 41, 4)100%);
      box-shadow: inset 0 0 adap(10) rgb(218, 52, 47), 0 adap(20) adap(60) rgb(150, 39, 36);
    }
  }
}
.block-3-name {

  &__name {
    font-family: "MuseoSans700";
    font-size: adap(52);
    margin-bottom: adap(10);
  }

  &__prof {
    font-family: "MuseoSans300";
    font-size: adap(28);
    color: #bb2316;
  }
}
.block-3-list {

  &__item {
    margin-bottom: adap(30);
    &:last-child {
      margin: 0;
    }
  }
}

























// =============================================================== //
// block-4

.block-4 {

  margin-bottom: adap(100);

  &__body {
  }

  &__title {
    text-align: center;
    font-family: "MuseoSans500";
    font-size: adap(43);
    margin-bottom: adap(83);
  }

  &__content {
  }

  &__button {
    text-align: center;
  }
}
.block-4-content {

  &__body {
    padding: 0 adap(185);
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(adap(370), 1fr));
    grid-template-rows: repeat(2, adap(314));
    row-gap: adap(130);
    column-gap: adap(170);
    margin-bottom: adap(41);
  }

  &__item {
    padding-top: adap(71);
    border: adap(1) solid #fae5d3;
    text-align: center;
    border-radius: adap(10);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border-radius: adap(10);
      z-index: -2;
      width: 90%; 
      height: 90%; 
      background-color: #fdefe4;
      left: 0;
      top: 0;
    }


    &::after {
      content: '';
      position: absolute;
      border-radius: adap(10);
      z-index: 2;
      width: 100%;
      height: 100%;
      border: adap(1) solid #f4c39a;
      left: adap(10);
      top: adap(10);
    }

  }

  &__item-circle::after {
      content: '1';
      font-family: "MuseoSans100";
      position: absolute;
      font-size: adap(16);
      color: white;
      z-index: 3;
      width: adap(40);
      height: adap(40);
      background: rgb(152,15,11);
      background: linear-gradient(0deg, rgba(152,15,11,1) 0%, rgba(245,72,42,1) 100%); 
      bottom: adap(-20);
      right: adap(-20);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }

  &__item-circle_2::after {
    content: '2';
  }
  &__item-circle_3::after {
    content: '3';
  }
  &__item-circle_3::after {
    content: '3';
  }
  &__item-circle_4::after {
    content: '4';
  }
  &__item-circle_5::after {
    content: '5';
  }
  &__item-circle_6::after {
    content: '6';
  }

  &__title {
    font-size: adap(25);
  }

  &__text {
    font-family: "MuseoSans100";
    line-height: adap(30);
    font-size: adap(20);
  }
}



















// ============================================================ //
// block-5

.block-5 {

  background:
    url(../img/block3/clowds-top.png) 0 -10% / 100% repeat-x,
    url(../img/block3/clowds-bottom.png) 0 110% / 100% repeat-x, 
    url(../img/block5/woman.png) 100% 90% / auto 70% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 50% / 120vw no-repeat,
    url(../img/block3/left-shade.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-left-2.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-left-1.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/right-shade.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/clowds-right-2.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/clowds-right-1.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/global-bg.png) 0 0 / 100vw no-repeat,
  ;

  &__body {
    padding-top: adap(232);
    padding-bottom: adap(177);
    width: adap(1550);
    margin: 0 auto;
  }

  &__title {
    margin-bottom: adap(86, 320) !important;
  }

  &__content {
  }
}
.block-5-content {

  &__body {
  }

  &__line-1 {
    display: flex;
    text-align: center;
  }

  &__line-2 {
    display: flex;
    text-align: center;

    .block-5-content__item-wrapper {
      margin-bottom: 0;
    }
  }

  &__item-wrapper {
    margin-right: adap(92);
    margin-bottom: adap(86);
    position: relative;
  }

  &__item-wrapper::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: adap(13);
    left: adap(13);
    width: adap(26);
    height: adap(26);
  }

  &__item-wrapper_01::after {
    background: url(../img/icons/block-5__item-01.png) 50% 50% / contain no-repeat;
  }
  &__item-wrapper_02::after {
    background: url(../img/icons/block-5__item-02.png) 50% 50% / contain no-repeat;
  }
  &__item-wrapper_03::after {
    background: url(../img/icons/block-5__item-03.png) 50% 50% / contain no-repeat;
  }
  &__item-wrapper_04::after {
    background: url(../img/icons/block-5__item-04.png) 50% 50% / contain no-repeat;
  }
  &__item-wrapper_05::after {
    background: url(../img/icons/block-5__item-05.png) 50% 50% / contain no-repeat;
  }

  &__item {
    position: relative;
    width: adap(348);
    height: adap(273);
    background: #ffc8c8;
    padding: adap(40) adap(25) adap(53) adap(30);
    background: rgb(236,202,191);
    background: linear-gradient(330deg, rgba(236,202,191,1) 0%, rgba(255,255,255,0) 50%); 
    border-bottom: adap(1) solid #db8072;
    border-right: adap(1) solid #db8072;
    border-radius: adap(10);
  }

  &__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: adap(1) solid #e69a92;
    border-right: adap(1) solid #e69a92;
    border-radius: adap(10);
    bottom: adap(-10);
    right: adap(-10);
  }

  &__item::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: adap(52);
    height: adap(52);
    border-radius: 50%;
    background: rgb(192,58,46);
    background: linear-gradient(0deg, rgba(192,58,46,1) 0%, rgba(248,84,57,1) 100%);
    box-shadow: inset 0 0 adap(10) rgb(255, 163, 155);
  }

  &__title {
    font-size: adap(26);
  }

  &__text {
    font-size: adap(17);
  }

}



















// ================================================================= // 
// block-6

.block-6 {

  &__body {
    padding-top: adap(95);
    margin-bottom: adap(55);
  }

  &__title {
    margin-bottom: adap(68);
  }

  &__reviews {
    display: flex;
    justify-content: center;
    margin-bottom: adap(136);
  }

  &__item {
    width: adap(305);
    height: adap(635);
    margin-right: adap(30);
    border-radius: adap(40);
    &:last-child {
      margin: 0;
    }
    &:nth-child(1) {
      background: url(../img/block6/block-6__item-01.png) 0 0 / auto 100% no-repeat;
    }
    &:nth-child(2) {
      background: url(../img/block6/block-6__item-02.png) 0 0 / auto 100% no-repeat;
    }
    &:nth-child(3) {
      background: url(../img/block6/block-6__item-03.png) 0 0 / auto 100% no-repeat;
    }
    &:nth-child(4) {
      background: url(../img/block6/block-6__item-04.png) 0 0 / auto 100% no-repeat;
    }
    &:nth-child(5) {
      background: url(../img/block6/block-6__item-05.png) 0 0 / auto 100% no-repeat;
    }
  }

  &__button {
    text-align: center;
  }
}





















// ================================================================= // 
// block-7


.block-7 {
  background:
    url(../img/block3/clowds-top.png) 0 0% / 100% repeat-x,
    url(../img/block3/clowds-bottom.png) 0 100% / 100% repeat-x, 
    url(../img/block7/flag.png) 0 50% / auto 80% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 50% / 120vw auto no-repeat,
    url(../img/block3/clowds-right-2.png) 0 100% / auto 100% no-repeat,
    url(../img/block3/clowds-right-1.png) 0 100% / auto 100% no-repeat,
    url(../img/block3/left-shade.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-left-2.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-left-1.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/global-bg.png) 0 0 / 120vw auto no-repeat,
    url(../img/block3/right-shade.png) 100% 100% / auto 100% no-repeat,
    url(../img/block7/big-ben.png) 110% 110% / auto 40% no-repeat,
  ;

  &__body {
    padding-top: adap(265);
    padding-bottom: adap(235);
  }

  &__title {
    margin-bottom: adap(100);
  }

  &__content {
  }
}

.block-7-content {

  
  &__body {
    text-align: center;
    width: adap(1512);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__line-01 {
    display: flex;

    .block-7-content__item-wrapper:first-child {
      margin-left: 0;
    }
  }

  &__line-02 {
    display: flex;
    .block-7-content__item-wrapper:first-child {
      margin-left: 0;
    }
  }

  &__line-03 {
    display: flex;
    margin-right: adap(180);
    .block-7-content__item-wrapper:first-child {
      margin-left: 0;
    }
    .block-7-content__item-wrapper {
      margin-left: adap(42);
      margin-bottom: 0;
    }
  }

  &__item-wrapper {
    margin: 0;
    margin-left: adap(118);
    margin-bottom: adap(67);

    &::after {
      font-family: "MuseoSans100";
      font-size: adap(25);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    &_01::after {
      content: '1';
    }

    &_02::after {
      content: '2';
    }

    &_03::after {
      content: '3';
    }

    &_04::after {
      content: '4';
    }

    &_05::after {
      content: '5';
    }

    &_06::after {
      content: '6';
    }

    &_07::after {
      content: '7';
    }

    &_08::after {
      content: '8';
    }

    &_03 {
      .block-7-content__item {
        padding-top: adap(12);
      }
    }

  }

  &__item {
  }

  &__title {
  }

  &__text {

  }
}














































































// медиа запросы
// ============================================================ //


// ================================================================= // 
// block-7

@media screen and (max-width: 761px) {
  
  .block-7 {
    background:
      url(../img/block3/clowds-top.png) 0 0% / auto 20vh repeat-x,
      url(../img/block3/clowds-bottom.png) 0 100% / auto 20vh repeat-x, 
      url(../img/block3/clowds-middle.png) 50% 50% / auto 120% no-repeat,
      url(../img/block3/global-bg.png) 0 0 / auto 120% no-repeat,
    ;

    &__body {
      padding-top: adap(265, 320);
      padding-bottom: adap(235, 320);
    }

    &__title {
      margin-bottom: adap(100, 320);
      font-size: adap(38, 320);
    }

  }

  .block-7-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    &__body {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    &__line-01 {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0;

    }

    &__line-02 {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0;
    }

    &__line-03 {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0;
    }

    &__item-wrapper {
      margin: 0;

      &::after {
        font-size: adap(25, 320);
      }

      &_03 {
        .block-7-content__item {
          padding-top: adap(12, 320);
        }
      }

    }
  }
}


















@media screen and (min-width: 1919px) {
  
  .block-7 {
    background:
      url(../img/block3/clowds-top.png) 0 0% / 40% repeat-x,
      url(../img/block3/clowds-bottom.png) 0 100% / 40% repeat-x, 
      url(../img/block7/flag.png) 0 50% / auto 80% no-repeat,
      url(../img/block3/clowds-middle.png) 50% 50% / 120vw auto no-repeat,
      url(../img/block3/clowds-right-2.png) 0 100% / auto 100% no-repeat,
      url(../img/block3/left-shade.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/clowds-left-2.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/clowds-left-1.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/global-bg.png) 0 0 / 120vw auto no-repeat,
      url(../img/block3/right-shade.png) 100% 100% / auto 100% no-repeat,
      url(../img/block7/big-ben.png) 100% 100% / auto 40% no-repeat,
    ;

    &__body {
      padding-top: qadap(265);
      padding-bottom: qadap(235);
      width: qadap(1920);
      margin: 0 auto;
    }

    &__title {
      margin-bottom: qadap(100);
      font-size: qadap(47);
    }
  }

  .block-7-content {

    
    &__body {
      width: inherit;
    }



    &__line-03 {
      margin-right: qadap(180);
      .block-7-content__item-wrapper {
        margin-left: qadap(42);
      }
    }

    &__item-wrapper {
      margin-left: qadap(40);
      margin-bottom: qadap(67);

      &::after {
        font-size: qadap(25);
      }
      
      &_03 {
        .block-7-content__item {
          padding-top: qadap(12);
        }
      }
    }
  }
}






















// ================================================================= // 
// block-6


@media screen and (max-width: 761px) {
  .block-6 {

    &__body {
      padding: adap(95, 320) adap(30, 320) 0;
      margin-bottom: adap(55, 320);
    }
  
    &__title {
      margin-bottom: adap(68, 320);
      font-size: adap(38, 320);
    }
  
    &__reviews {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: adap(100, 320);
    }
  
    &__item {
      width: adap(300, 320);
      height: adap(350, 320);
      border-radius: adap(30, 320);
      border: adap(2, 320) solid #f7cea8;
      margin-bottom: adap(30, 320);
      &:nth-child(1) {
        background: url(../img/block6/761/block-6__item-01.png) 50% 50% / 95% no-repeat;
      }
      &:nth-child(2) {
        background: url(../img/block6/761/block-6__item-02.png) 50% 50% / 95% no-repeat;
      }
      &:nth-child(3) {
        background: url(../img/block6/761/block-6__item-03.png) 50% 50% / 95% no-repeat;
      }
      &:nth-child(4) {
        background: url(../img/block6/761/block-6__item-04.png) 50% 50% / 95% no-repeat;
      }
      &:nth-child(5) {
        margin-bottom: adap(30, 320);
        margin-right: adap(10, 320);
        background: url(../img/block6/761/block-6__item-05.png) 50% 50% / 95% no-repeat;
      }
    }
  
    &__button {
      text-align: center;
    }
  }
}


@media screen and (min-width: 1919px) {

  .block-6 {

    &__body {
      width: qadap(1920);
      margin: 0 auto;
      padding-top: qadap(95);
    }
  
    &__title {
      margin-bottom: qadap(68);
      font-size: qadap(47);
    }
  
    &__reviews {
      display: flex;
      justify-content: center;
      margin-bottom: qadap(136);
    }
  
    &__item {
      width: qadap(305);
      height: qadap(635);
      margin-right: qadap(30);
      border-radius: qadap(40);
      &:last-child {
        margin: 0;
      }
      &:nth-child(1) {
        background: url(../img/block6/block-6__item-01.png) 0 0 / auto 100% no-repeat;
      }
      &:nth-child(2) {
        background: url(../img/block6/block-6__item-02.png) 0 0 / auto 100% no-repeat;
      }
      &:nth-child(3) {
        background: url(../img/block6/block-6__item-03.png) 0 0 / auto 100% no-repeat;
      }
      &:nth-child(4) {
        background: url(../img/block6/block-6__item-04.png) 0 0 / auto 100% no-repeat;
      }
      &:nth-child(5) {
        background: url(../img/block6/block-6__item-05.png) 0 0 / auto 100% no-repeat;
      }
    }
  
    &__button {
      text-align: center;
    }
  }
    
}




























// ============================================================ //
// block-5

@media screen and (max-width: 761px) {
  
  .block-5 {

    background:
      url(../img/block3/clowds-top.png) 0 0 / 100% repeat-x,
      url(../img/block3/clowds-bottom.png) 0 100% / 100% repeat-x, 
      url(../img/block5/woman.png) 50% 100% / auto adap(500, 320) no-repeat,
      url(../img/block3/clowds-middle.png) 50% 50% / auto 120% no-repeat,
      url(../img/block3/global-bg.png) 0 0 / 110vw 120% no-repeat,
    ;

    &__body {
      padding-top: adap(150, 320);
      padding-bottom: adap(177, 320);
    }

    &__title {
      margin-bottom: adap(86, 320) !important;
      font-size: adap(38, 320);
    }

  }
  .block-5-content {

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__line-1 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__line-2 {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin-bottom: adap(300, 320);

      .block-5-content__item-wrapper:last-child {
        margin-bottom: 0;
      }
    }

    &__item-wrapper {
      margin-bottom: adap(40, 320) !important;
      margin-right: 0 !important;
    }

    &__item-wrapper::after {
      top: adap(13, 320);
      left: adap(13, 320);
      width: adap(26, 320);
      height: adap(26, 320);
    }

    &__item {
      width: adap(380, 320);
      height: adap(273, 320);
      padding: adap(30, 320) adap(15, 320) adap(40, 320) adap(15, 320);
      border-bottom: adap(1, 320) solid #db8072;
      border-right: adap(1, 320) solid #db8072;
      border-radius: adap(10, 320);
    }

    &__item::after {
      border-bottom: adap(1, 320) solid #e69a92;
      border-right: adap(1, 320) solid #e69a92;
      border-radius: adap(10, 320);
      bottom: adap(-10, 320);
      right: adap(-10, 320);
    }

    &__item::before {
      width: adap(52, 320);
      height: adap(52, 320);
      box-shadow: inset 0 0 adap(10, 320) rgb(255, 163, 155);
    }

    &__title {
      font-size: adap(28, 320);
      margin-bottom: adap(20, 320);
    }

    &__text {
      font-size: adap(20, 320);
      line-height: adap(30, 320);
    }

  }
}
















@media screen and (min-width: 1919px) {
  .block-5 {

    background:
      url(../img/block3/clowds-top.png) 0 -10% / 50% repeat-x,
      url(../img/block3/clowds-bottom.png) 0 110% / 50% repeat-x, 
      url(../img/block3/clowds-middle.png) 50% 50% / 120vw no-repeat,
      url(../img/block3/left-shade.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/clowds-left-2.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/clowds-left-1.png) 0 0 / auto 100% no-repeat,
      url(../img/block3/right-shade.png) 100% 0 / auto 100% no-repeat,
      url(../img/block3/clowds-right-2.png) 100% 0 / auto 100% no-repeat,
      url(../img/block3/clowds-right-1.png) 100% 0 / auto 100% no-repeat,
      url(../img/block3/global-bg.png) 0 0 / 100vw no-repeat,
    ;

    &__body {
      background: url(../img/block5/woman.png) 130% 70% / auto 70% no-repeat;
      padding-top: qadap(232);
      padding-bottom: qadap(177);
      width: qadap(1550);
    }

    &__title {
      font-size: qadap(47) !important;
      margin-bottom: qadap(86) !important;
    }
  }
  .block-5-content {


    &__item-wrapper {
      margin-right: qadap(92);
      margin-bottom: qadap(86);
    }

    &__item-wrapper::after {
      top: qadap(13);
      left: qadap(13);
      width: qadap(26);
      height: qadap(26);
    }
    &__item {
      width: qadap(348);
      height: qadap(273);
      padding: qadap(40) qadap(25) qadap(53) qadap(30);
      border-bottom: qadap(1) solid #db8072;
      border-right: qadap(1) solid #db8072;
      border-radius: qadap(10);
    }

    &__item::after {
      width: 100%;
      height: 100%;
      border-bottom: qadap(1) solid #e69a92;
      border-right: qadap(1) solid #e69a92;
      border-radius: qadap(10);
      bottom: qadap(-10);
      right: qadap(-10);
    }

    &__item::before {
      width: qadap(52);
      height: qadap(52);
      box-shadow: inset 0 0 qadap(10) rgb(255, 163, 155);
    }

    &__title {
      font-size: qadap(26) !important;
      margin-bottom: qadap(30) !important;
    }

    &__text {
      font-size: qadap(17) !important;
      line-height: qadap(25) !important;
    }

  }
}

























// =============================================================== //
// block-4

@media screen and (max-width: 761px)  {

  .block-4 {

    &__body {
      padding-top: adap(40, 320);
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: adap(38, 320);
      margin-bottom: adap(60, 320);
    }

    &__button {
      // font-size: adap(22, 320) !important;
      padding-top: adap(100, 320) !important;
      // & a {
      //   padding: adap(20, 320) adap(30, 320)  !important;
      // }
    }

  }
  .block-4-content {

    &__body {
      padding: 0 adap(185);
      grid-template-columns: adap(400, 320);
      grid-template-rows: repeat(6, adap(350, 320));
      row-gap: adap(220);
      margin-bottom: adap(41);
    }

    &__item {
      padding-top: adap(71, 320);
      border: adap(1, 320) solid #fae5d3;
      border-radius: adap(10, 320);

      &::before {
        border-radius: adap(10, 320);
      }


      &::after {
        border-radius: qadap(10);
        border: adap(1, 320) solid #f4c39a;
        left: adap(10, 320);
        top: adap(10, 320);
      }

    }

    &__item-circle::after {
        font-size: adap(16, 320);
        width: adap(40, 320);
        height: adap(40, 320);
        bottom: adap(-20, 320);
        right: adap(-20, 320);
    }
    &__title {
      font-size: adap(30, 320) !important;
      margin-bottom: adap(30, 320) !important;
    }

    &__text {
      line-height: adap(30, 320) !important;
      font-size: adap(22, 320) !important;
    }
  }
}



@media screen and (min-width: 1919px) {

  .block-4 {
    margin-bottom: qadap(100);

    &__body {
      width: 1920px;
      margin: 0 auto;
    }

    &__title {
      font-size: qadap(43);
      margin-bottom: qadap(83);
    }

  }
  .block-4-content {

    &__body {
      padding: 0 qadap(185);
      grid-template-columns: repeat(auto-fill, minmax(qadap(370), 1fr));
      grid-template-rows: repeat(2, qadap(314));
      row-gap: qadap(130);
      column-gap: qadap(170);
      margin-bottom: qadap(41);
    }

    &__item {
      padding-top: qadap(71);
      border: qadap(1) solid #fae5d3;
      border-radius: qadap(10);

      &::before {
        border-radius: qadap(10);
      }


      &::after {
        border-radius: qqadap(10);
        border: qadap(1) solid #f4c39a;
        left: qadap(10);
        top: qadap(10);
      }

    }

    &__item-circle::after {
        font-size: qadap(16);
        width: qadap(40);
        height: qadap(40);
        bottom: qadap(-20);
        right: qadap(-20);
    }
    &__title {
      font-size: qadap(25);
    }

    &__text {
      line-height: qadap(30);
      font-size: qadap(20);
    }
  }
}




















// ============================================================= //
// block-3


@media screen and (max-width: 761px) {
  .block-3 {
    
    background: 
    url(../img/block3/clowds-top.png) 0 0% / 100vw no-repeat,
    url(../img/block3/clowds-bottom.png) 0 100% / auto 15vh repeat-x,
    url(../img/block3/woman.png) 60% 100% / auto 430px no-repeat,
    url(../img/block3/left-shade.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 0 / 200% no-repeat,
    url(../img/block3/clowds-left-2.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/clowds-left-1.png) 0 0 / auto 100% no-repeat,
    url(../img/block3/right-shade.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/clowds-right-2.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/clowds-right-1.png) 100% 0 / auto 100% no-repeat,
    url(../img/block3/global-bg.png) 0 0 / 100vw no-repeat,
  ;
  
    padding-top: adap(100, 320);
    padding-bottom: adap(60, 320);

    &__body {
      padding: 0;
    }

    &__title-name-wrapper {
      padding: 0 adap(100, 320);
    }

    &__title {
      font-size: adap(32, 320);
      margin-bottom: adap(39, 320);
      padding: adap(26, 320) adap(10, 320);

      & span {
        position: relative;
      }

      &_left-top::after {
        content: '';
        position: absolute;
        background: url(../img/icons/right-quotation-sign.png) 0 0 / 100% no-repeat;
        width: adap(37, 320);
        height: adap(30, 320);
        left: adap(-50, 320);
        top: adap(-20, 320);
      }
    
      &_right-bottom::before {
        content: '';
        position: absolute;
        background: url(../img/icons/left-quotation-sign.png) 0 0 / 100% no-repeat;
        width: adap(37, 320);
        height: adap(30, 320);
        right: adap(-50, 320);
        bottom: adap(-20, 320);
      }
      
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
    
    &__name {
      text-align: center;
      margin-bottom: adap(40, 320);
    }
    
    &__list {
      font-size: adap(24, 320);
      margin-bottom: adap(600, 320);
      padding: 0 adap(120, 600);
    }
    
    &__button {
      text-align: center;
      & a {
        font-size: adap(22, 320);
        padding: adap(28, 320) adap(28, 320);
        border-radius: adap(60, 320);
        box-shadow: inset 0 0 adap(10, 320) rgb(242, 76, 70), 0 5px 20px rgb(245, 77, 71);
      }
    
      & a:hover {
        box-shadow: inset 0 0 adap(10, 320) rgb(242, 76, 70), 0 5px 20px rgb(244, 115, 111);
      }
    
      & a:active {
        box-shadow: inset 0 0 adap(10, 320) rgb(218, 52, 47), 0 5px 20px rgb(150, 39, 36);
      }
    }
  }
  .block-3-name {
  
    &__name {
      font-size: adap(40, 320);
      margin-bottom: adap(10, 320);
    }
    
    &__prof {
      font-size: adap(22, 320);
    }
  }
  .block-3-list {
  
    &__item {
      margin-bottom: adap(20, 320);
    }
  }
}
    
      





















@media screen and (min-width: 1920px) {
  .block-3 {
    
    background: 
    url(../img/block3/clowds-top.png) 0 0% / 40% repeat-x,
    url(../img/block3/clowds-bottom.png) 0 100% / 1200px repeat-x,
    url(../img/block3/left-shade.png) 0 0 / 100% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 0 / 200% no-repeat,
    url(../img/block3/clowds-left-2.png) 0 0 / 100% no-repeat,
    url(../img/block3/clowds-left-1.png) 0 0 / 100% no-repeat,
    url(../img/block3/right-shade.png) 100% 0 / 100% no-repeat,
    url(../img/block3/clowds-right-2.png) 100% 0 / 100% no-repeat,
    url(../img/block3/clowds-right-1.png) 100% 0 / 100% no-repeat,
    url(../img/block3/global-bg.png) 0 0 / 100vw no-repeat,
  ;
  
    padding-top: qadap(251);
    padding-bottom: qadap(40);
    margin-bottom: 78px;

    &__body {
      background: url(../img/block3/woman.png) 10% 100% / auto 90%  no-repeat;
      width: 1920px;
      margin: 0 auto;
      padding: 0 qadap(196) 0 qadap(624);
    }

    &__title {
      font-size: qadap(43);
      margin-bottom: qadap(39);
      padding: qadap(26) qadap(52);
      &::after {
        width: qadap(37);
        height: qadap(30);
      }

      &::before {
        bottom: qadap(8);
        right: qadap(475);
        width: qadap(37);
        height: qadap(30);
      }
    }

    &__name {
      margin-bottom: qadap(69);
    }

    &__list {
      padding-left: qadap(57);
      font-size: qadap(30);
      margin-bottom: qadap(93);
    }

    &__button {
      & a {
        font-size: qadap(25);
        padding: qadap(39) qadap(40);
        border-radius: qadap(60);
        box-shadow: inset 0 0 qadap(10) rgb(242, 76, 70), 0 qadap(20) qadap(60) rgb(209, 46, 41);
      }

      & a:hover {
        box-shadow: inset 0 0 qadap(10) rgb(242, 76, 70), 0 qadap(20) qadap(80) rgb(241, 81, 75);
      }

      & a:active {
        box-shadow: inset 0 0 qadap(10) rgb(218, 52, 47), 0 qadap(20) qadap(60) rgb(150, 39, 36);
      }
    }
  }
  .block-3-name {

    &__name {
      font-size: qadap(52);
      margin-bottom: qadap(10);
    }

    &__prof {
      font-size: qadap(28);
    }
  }
  .block-3-list {

    &__item {
      margin-bottom: qadap(30);
    }
  }
}



























// ============================================================= //
// block-2

@media screen and (max-width: 1919px) {
  .block-2 {
    margin-bottom: adap(127);
  
    &__wrapper {
      width: adap(1531);
    }
  
    &__title {
      font-size: adap(47);
      margin-bottom: adap(49);
    }
  }
  .block-2-content {
  
    &__title {
      font-size: adap(30);
      margin-bottom: adap(20);
    }
  
    &__text {
      font-size: adap(20);
      line-height: adap(30);
    }
  
    &__item {
      border: adap(1) solid #fae5d3;
      padding: adap(70) adap(70) adap(55) adap(66);
      border-radius: adap(10);
      margin-bottom: adap(121);
  
      &::before {
        border-radius: adap(10);
      }
  
      &::after {
        border-radius: adap(10);
        border: adap(1) solid #f4c39a;
      }
  
      &_left-top::after {
        left: adap(10);
        top: adap(10);
      }
  
      &_right-top::after {
        right: adap(10);
        top: adap(10);
      }
  
      &_left-bottom::after {
        left: adap(10);
        bottom: adap(10);
      }
  
      &_right-bottom::after {
        right: adap(10);
        bottom: adap(10);
      }
    }
  }
  .content-left {
  
  
    &__item {
      &:first-child {
        margin-left: adap(83);
      }
      &:nth-child(2) {
        margin-right: adap(83);
        margin-bottom: 0;
      }
    }
  }
  .content-middle {
    font-size: adap(12);
  
    &__top-text {
      padding-bottom: adap(30);
      padding-left: adap(222);
    }
  
    &__button {
      width: adap(109);
      height: adap(109);
      }
  
    &__button::before {
      border-width: adap(10) 0 adap(10) adap(14); /* Размеры треугольника */
      }
  
    &__bottom-text {
      padding-top: adap(50);
      padding-right: adap(180);
    }
  }
  .content-right {
  
    &__item {
      &:first-child {
        margin-left: adap(83);
        margin-top: adap(7);
      }
      &:nth-child(2) {
        margin-right: adap(83);
        margin-top: adap(20);
        margin-bottom: 0;
      }
    }
  }
}



@media screen and (max-width: 761px) {
  .block-2 {
  
    &__title {
      padding-top: adap(50, 320);
      font-size: adap(38, 320);
      margin-bottom: adap(49, 320);
    }
  
    &__content {
      display: flex;
      flex-direction: column;
    }
  }
  .block-2-content {
  
    &__left {
      order: 1;
    }
  
    &__middle {
      order: 3;
    }
  
    &__right {
      order: 2;
    }
  
    &__title {
      font-size: adap(30, 320);
      margin-bottom: adap(20, 320);
    }
  
    &__text {
      font-size: adap(20, 320);
      line-height: adap(30, 320);
    }
  
    &__item {
      padding: adap(70, 320) adap(70, 320) adap(55, 320) adap(66, 320);
    
      &_left-top::after {
        left: adap(10, 320);
        top: adap(10, 320);
      }
  
      &_right-top::after {
        right: adap(10, 320);
        top: adap(10, 320);
      }
  
      &_left-bottom::after {
        left: adap(10, 320);
        bottom: adap(10, 320);
      }
  
      &_right-bottom::after {
        right: adap(10, 320);
        bottom: adap(10, 320);
      }
    }
  }

  .content-left {
    &__item {
      &:nth-child(2) {
        margin-bottom: adap(40, 320);
      }
    }
  }
  .content-middle {
    font-size: adap(20, 320);
    &__top-text {
      padding: 0;
      padding-bottom: adap(30, 320);
    }
  
    &__button {
      width: adap(109, 320);
      height: adap(109, 320);
      }
  
    &__button::before {
      border-width: adap(10, 320) 0 adap(10, 320) adap(14, 320); /* Размеры треугольника */
      }
  
    &__bottom-text {
      padding: 0;
      padding-top: adap(50, 320);
    }
  }
  .content-right {
  
    &__item {
      &:nth-child(2) {
        margin-bottom: adap(60, 320);
      }
    }
  }
}










// =============================================================//
// block-1

@media screen and (max-width: 761px) {
  
  .block-1 {
    
    background: 
      url(../img/block1/clowds-bottom-2.png) 0 bottom / auto 10vh repeat-x,
      url(../img/block1/woman-01.png) 50% 100% / auto 55% no-repeat,
      url(../img/block3/clowds-middle.png) 50% 50% / auto 100vh no-repeat,
      url(../img/block1/Tower-Bridge.png) 50% 100% / auto 60% no-repeat,
      url(../img/block1/global-bg.png) 0 0 / 120vw 120vh no-repeat,
    ;
  
      &__content {
        padding-bottom: adap(80, 320);
      }
  }
  
  
  .header {
    font-size: adap(27, 320);
  
      &__body {
        display: flex;
      }
  
      &__name {
        flex: 4;
      }
  
      &__menu {
        flex: 8;
      }
  
      &__socials {
        flex: 3;
      }
  }
  .header-name {
  
      &__items {
        padding-top: adap(15, 320);
        padding-left: adap(15, 320);
      }
  
      &__prof {
        font-size: adap(20, 320);
      }
  }
  
  .header-menu {
    font-size: adap(16, 320);

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  
    &__body {
      display: flex;
      justify-content: center;
      flex: 100%;
      padding-top: adap(27, 320);
      padding-left: adap(10, 320);
    }

    &__item {
      width: adap(110, 320);
      text-align: center;
      border: adap(2, 320) solid #bd6961;
      border-radius: adap(20, 320);
      background: #d4625828;
      padding: adap(10, 320);
      margin-right: adap(20, 320);
      margin-bottom: adap(15, 320);
      &:last-child {
        padding: adap(10, 320);
        text-align: center;
      }
    }
  }
  .header-socials {
    padding-top: adap(21, 320);
  
      &__phone {
        padding-right: adap(12, 320);
      }
  }
  .socials-phone {
  
      &__phone {
        font-size: adap(24, 320);
        margin-bottom: adap(9, 320);
        &_761 {
          display: none;
        }
      }
  
      &__button {
        font-size: adap(14, 320);
      }
  }
  
  .block-1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: adap(47, 320);
    width: calc(100% - 40px);
    margin: 0 auto;
  
    &__content-text {
      padding-left: 0;
      order: 2;
      flex: auto;
      text-align: left;
      text-align: center !important;
    }
  
    &__socials {
      width: 70%;
      margin: 0 auto;
      order: 1;
      flex: auto;
      text-align: center;
      padding-right: 0;
      padding-top: adap(29, 320);
    }
    
    &__invite {
      font-size: adap(30, 720);
      padding-top: adap(78);
    }
  
    &__title {
      font-size: adap(38, 720);
      padding-top: adap(20, 320);
    }
  
    &__online {
      font-size: adap(24, 720);
      padding-top: adap(15, 320);
    }
  
    &__text {
      padding-top: adap(30, 320);;
      font-size: adap(20, 620);
      & p {
        margin-bottom: adap(15, 320);
      }
    }
  
    &__button {
      font-size: adap(30, 720);
      padding-top: adap(500, 320);
      & a {
        padding: adap(40, 320) adap(110, 320);
        border-radius: adap(60, 320);
        box-shadow: 0 20px 20px #cb3f3050, inset 0 0 4px 4px #dc3434;
  
        &:active {
          box-shadow: 0 adap(20) adap(30) #ff2911b8;
        }
  
      }
    }
  }
  
  .socials-socials {
    display: flex;
    justify-content: center;
  
    &__item {
      flex: 1;
      margin-bottom: adap(19);
      line-height: 0;
      font-size: 0;
      & img {
        width: adap(40, 320);
        &:hover {
          filter: saturate(5);
        }
      }
    }
    
    &__item:nth-child(2) {
      & img {
        width: adap(50, 320);
      }
    }
  }
  
}























@media screen and (min-width: 1921px) {


  .block-1 {
    background:
    url(../img/block1/clowds-bottom-2.png) 0 bottom / auto 10vh repeat-x,
    url(../img/block1/woman-01.png) 95% 0 / auto 100% no-repeat,
    url(../img/block3/clowds-middle.png) 50% 50% / 120vw auto no-repeat,
    url(../img/block1/clowds-right.png) 100% 0 / auto 100% no-repeat,
    url(../img/block1/clowds-left.png) 0 0 / auto 100% no-repeat,
    url(../img/block1/Tower-Bridge.png) 103% 0 / auto 100% no-repeat,
    url(../img/block1/big-ben.png) 100% 0 / auto 100% no-repeat,
    url(../img/block1/global-bg.png) 0 0 / 100vw repeat-x,
    ;
  
    &__wrapper {
      width: 1920px;
      height: 884px;
      margin: 0 auto;
    }
  
    &__content {
      padding-bottom: 207px;
    }
  }
  
  
  .header-name {
  
      &__items {
        padding-top: 15px;
        padding-left: 181px;
      }
  
      &__name {
        font-size: 27px;
      }
  
      &__prof {
        font-size: 20px;
      }
  }
  
  .header-menu {
    font-size: 18px;
  
      &__body {
        padding-top: 27px;
        padding-left: 200px;
      }
  
      &__item {
        margin-right: 52px;
        margin-bottom: 15px;
      }
  }
  .header-socials {
    padding-top: 21px;
  
      &__phone {
        padding-right: 12px;
      }
  }
  .socials-phone {
  
      &__phone {
        font-size: 24px;
        margin-bottom: 9px;
      }
  
      &__button {
        font-size: 14px;
      }
  }
  
  .block-1-content {
    font-size: 47px;
  
    &__content-text {
      padding-left: 197px;
    }
  
    &__socials {
      padding-right: 141px;
      padding-top: 29px;
    }
    
    &__invite {
      font-size: 47px;
      padding-top: 78px;
    }
  
    &__title {
      font-size: 52px;
      padding-top: 20px;
    }
  
    &__online {
      font-size: 28px;
      padding-top: 32px;
    }
  
    &__text {
      padding-top: 66px;
      font-size: 25px;
      & p {
        margin-bottom: 30px;
      }
    }
  
    &__button {
      font-size: 25px;
      padding-top: 117px;
      & a {
        padding: 40px 110px;
        border-radius: 60px;
        border: 3px solid #fa7661;
      }
    }
  }
  
  .socials-socials {
  
    &__item {
      margin-bottom: 19px;
      & img {
        width: 20px;
      }
    }
    
    &__item:nth-child(2) {
      & img {
        width: 23px;
      }
    }
  }
  
}