@media screen and (min-width: 1919px) {
  .block-9 {
    background:
      url(../img/block3/clowds-top.png) 0 0 / auto 20vh repeat-x,
      url(../img/block3/clowds-bottom.png) 0 100% / auto 20vh repeat-x,
      url(../img/block3/clowds-middle.png) 50% 50% / 120vw auto no-repeat,
      url(../img/block3/global-bg.png) 50% 50% / 120vw 120vh no-repeat,
    ;

    &__body {
      padding-top: qadap(180);
      width: qadap(1530);
      margin: 0 auto;
      padding-bottom: qadap(220);
    }

    &__title {
    }


    &__subtitle {
      text-align: center;
      font-family: "MuseoSans100";
      font-size: qadap(30);
      margin-bottom: qadap(56);
    }


    &__form {
      margin-bottom: qadap(70);
    }

    &__socials {
      display: flex;
      justify-content: space-around;
    }
  }
  .block-9-form {
    display: flex;
    justify-content: space-between;

    &__input {
      padding: qadap(40);
      padding-left: qadap(90);
      font-family: "MuseoSans100";
      font-size: qadap(25);
      width: qadap(520);
      height: qadap(100);
      border-radius: qadap(50);
      box-shadow: inset 0 qadap(5) qadap(5) #fbc9be;
    }


    &__name {
      background: url(../img/icons/block-9-icon-01.png) qadap(35) qadap(26) / qadap(38) no-repeat #fdefe4;
    }

    &__email {
      background: url(../img/icons/block-9-icon-02.png) qadap(35) qadap(30) / qadap(40) no-repeat #fdefe4;
    }

    &__submit {
      display: flex;
      flex-direction: column;
      & button {
        font-family: "CenturyGothic";
        font-size: qadap(25);
        color: #fff;
        background: linear-gradient(0deg, rgb(159, 5, 0) 0%, rgb(255, 38, 0) 100%);
        padding: qadap(38);
        border-radius: qadap(60);
        box-shadow: 0 20px 20px #cb3f3050, inset 0 0 4px 4px #dc3434;
        margin-bottom: qadap(40);

        &:hover {
          background: rgb(198, 37, 31);
          background: linear-gradient(0deg, rgb(160, 35, 31) 0%, rgb(254, 83, 53) 100%);
        }
        &:active {
          background: rgb(167, 8, 3);
          background: linear-gradient(0deg, rgb(156, 6, 0) 0%, rgrgb(156, 23, 0)00%);
          box-shadow: 0 20px 30px #ff2911b8;
        }
      }
    }

    &__ya-zaebalsya{
      display: flex;
      align-items: center;
      & span {
        display: inline-block;
        font-size: qadap(17);
        font-family: "MuseoSans100";
        margin-left: qadap(10);
      }

      & a {
        text-decoration: underline;
      }

      & a:hover {
        color: #a8160f;
        text-decoration: underline;
      }
    }

    &__checkbox {
      font-size: 0;
      width: 18px;
      height: 18px;
      display: inline-block;
      border: 1px solid #825d53;
      overflow: hidden;
      position: relative;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      border-radius: 5px;
      & input {
        position: absolute;
        width: 120%;
        height: 120%;
        top: -2px;
        left: -2px;
      }
    }
  }
  .block-9-socials {

    &_761 {
      display: none;
    }

    &__number {
      font-family: "MuseoSans500";
      font-size: qadap(47);
    }

    &__text {
      font-family: "MuseoSans100";
      font-size: qadap(30);
    }

    &__socials {
      display: flex;
      justify-content: space-around;
    }

    &__item {
      font-size: 0;

      &:last-child {
        margin: 0;
      }
      
      & img {
        height: qadap(35);
        margin-right: qadap(35);
        
        &:hover {
          filter: saturate(5);
        }
      }

    }
  }

}