@media screen and (min-width: 1919px) {
  
  .footer {
    display: flex;
    font-family: "MuseoSans100";
    justify-content: space-around;
    width: qadap(1920);
    text-align: center;
    font-size: qadap(30);
    align-items: center;
    padding-bottom: qadap(147);

    &__text-01 {
    }

    &__text-02 {
    }

    &__text-02 a:hover {
      color: #a7150e;
    }

    &__text-03 {
      font-size: qadap(15);
    }

    &__text-03 a:hover {
      color: #a7150e;
    }

    &__name {
      font-size: qadap(47);
      font-family: "MuseoSans500";
    }

    &__prof {
    }
  }

}